
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html,
  body {
    font-family: Roboto, sans-serif, arial;
    font-size: 14px;
    color: #242424;
  }
  .container {
    width: 1300px;
    margin: 0px auto;
    
  }
  .main-section {
    width: 100%;
    float: left;
    padding: 70px 0px 70px 0px;
  }
  .heading {
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid #7474b0;
    margin-bottom: 20px;
    color: #7474b0;
  }

  .header {
	background: #7474b0;
	padding: 6px;
}
.header b {
	background: #fff;
	color: red;
	padding:10px;
	font-size: 20px;
}
.header marquee {
	font-size:20px;
	color: #ffffff;
	width: 80%;
}

.logo {
	height: 80px;
}

.navbar {
	float: right;
    overflow: hidden;
    background-color: white;
}
.navbar a {
	color: black;
	text-decoration: none;
	font-size:14px;
	padding:2px 10px;
	font-weight:500;
    text-align: center;
    float: right; /*left*/
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 14px; 
    font-weight: 500; 
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #7474b0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .image-slideshow {
    max-width: 500%;
    position:relative;
    margin:5%;
  }
  
  
  

.event {
    width: 24%;
    margin-right: 1%;
    float: left;
    background-color: #fff;
    padding: 10px;
  }
.event .heading {
    border-bottom: 1px solid #7474b0;
    padding: 1px;
    color: #fff;
    background: #7474b0;
    text-align: center;
    font-size: 23px;
  }
.event ul li {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    list-style: none;
  }
.event-date {
    background: #7474b0;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
  }

  .column {
    float:inline-start;
    width: 25%;
    padding-left: 30px;
  }

  .row::after {
    content: "";
    clear: both;
    display: flexbox;
  }

  .about-us div {
    width: 50%;
    float: left;
    line-height: 30px;
    font-size: 16px;
  }
  .about-us h4 {
    font-size: 22px;
  }
  .about-us p {
    line-height: 30px;
  }
  .about-us img {
    width: 40%;
    float: left;
  }

  .award p {
    width: 100%;
    float: left;
    font-size: 14px;
  }

  .event p{
    margin-bottom: 10px;
  }
  .award img {
    width: 100%;
  }
  .award b {
    min-width: 115px;
    float: left;
    margin-bottom: 20px;
  }
  .award h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .testimonial {
    width: 30.5%;
    float: left;
    margin-right: 2.5%;
  }
  .testimonial-text {
    background: #7474b0;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-align: left;
  }
  .testimonial-detail {
    float: left;
    margin-top: 10px;
  }
  .testimonial-img {
    float: left;
  }
  
  .testimonial-name {
    margin-left: 10px;
    float: left;
  }
  .testimonial-name h5 {
    font-size: 18px;
    margin-top: 8px;
  }

  .gallery img {
    width: 24%;
  }

  .footer {
    background-color: #7474b0;
    padding: 20px 0px;
    width: 100%;
    float: left;
  }
  
  .footer-sect {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
  }
  .footer-sect a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }

  .footer-sect p{
    color: white;
  }
  
  
